<div class="application-container">
  <div class="message-container"></div>

  <div class="content-container">

    <h3>Minnpost Minneapolis Zoning Map</h3>

    <div class="loading-block"></div>

    <p>Welcome to your new MinnPost application, built from the MinnPost Templating system.  Make sure to use the <a href="http://code.minnpost.com/minnpost-styles/">MinnPost Style Guide</a> for all your styling needs.</p>

    
    

    
    <div class="component-label">Map example</div>
    <div class="caption">Here is an awesome, concise caption.</div>
    <div class="map" id="example-markers-features-map"></div>
    

    
    

  </div>

  <div class="footnote-container">
    <div class="footnote">
      <p>Some code, techniques, and data on <a href="https://github.com/minnpost/minnpost-minneapolis-zoning-map" target="_blank">Github</a>.</p>
      
        <p>Some map data © OpenStreetMap contributors; licensed under the <a href="http://www.openstreetmap.org/copyright" target="_blank">Open Data Commons Open Database License</a>.  Some map design © MapBox; licensed according to the <a href="http://mapbox.com/tos/" target="_blank">MapBox Terms of Service</a>.  Location geocoding provided by <a href="http://www.mapquest.com/" target="_blank">Mapquest</a> and is not guaranteed to be accurate.</p>
      
    </div>
  </div>
</div>
